/* header css */

* {
    margin: 0px;
    padding: 0px;

}

#alert {
    color:rgb(0, 0, 0); 
    padding: 8px 0; 
    font-size:20px; 
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #6C071A;
    
}

.list {
    display: flex;
    justify-content: right;
    list-style: none;
    /* color: rgb(0, 115, 255); */
}

.list-item {
    margin: 30px;
    /* font-family: cursive; */
    font-size: 18px;
}

.list-item1 {
    margin: 30px;
    padding-right: 270px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #D4AF37;
}

body{
    background-color: #EFE6DD;
}


/* header css */


#img3{
    width: 100%;
    height: 70vh;
}
#p-box{
    height: 100px;
    width: 100%;
    
}
.box{
    height: 90px;
    width: 30%;
    background-color: #6c071ab3;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 35%;
    margin-top: 30px;
    padding-top: 20px;
    
}
.para{
    width: 80%;
    height: 20vh;
    /* background-color: red; */
    text-align: center;
    margin-left: 160px;
    margin-top: 30px;
    
}
.box-img{
    height: 250px;
    width: 350px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.col1,.col2,.col3{
    height: 400px;
    width: 400px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071ab3;
}
