/* historic page start */

* {
    margin: 0px;
    padding: 0px;
}
body{
   background-color: white; 
}
.list-item1{
margin-left: 0px;
/* margin-right: 300px; */
/* margin-left: 50px; */
font-size: 28px;
 margin-right: 24%;
 margin-left: 55px;
 font-weight: bold;
}
.list1{
    display: flex;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
   
    
}
.l-i1{
    font-size: 18px;
    /* margin-right: 60px; */
    /* margin-left: 50px; */
    margin-right: 50px;

}
a{
   text-decoration: none;
   color: #F7E7C6
;
}

/* Marquee alert bar */
#alert {
    /* background: #ffcc00; */
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

/* Navigation bar design */
.navbar {
    padding: 25px;
    background: #6c071a;       /* SAME HEIGHT AS YOUR ORIGINAL */
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 0;
    padding: 30px;
}

.section1{
    display: flex;  
    justify-content: center;
}



.nav-list li a {
    text-decoration: none !important;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px;
}

.nav-list li a:hover {
    color: #ffcc00;
}

.nav-list li a.active {
    color: #ffcc00;
}

/* header css */


#img3 {
    width: 100%;
    height: 70vh;
}

#p-box {
    height: 100px;
    width: 100%;

}

.box {
    height: 90px;
    width: 30%;
    background-color: #6c071ab3;
    color: white;
    border-radius: 7px;
    text-align: center;
    /* margin-left: 35%; */
    margin-top: 30px;
    padding-top: 20px;
    border: 5px solid #D4AF37;

}
.h{
    color: #6c071a;
    margin-bottom: 30px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;

}
.h2{
    color: #6C071A;
    margin-top: 70px;
    border-top: 2px solid #D4AF37;
    border-bottom: 2px solid #D4AF37;
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.h-3{
    margin-top: 30px;
    text-align: center;
}

.para {
    width: 80%;
    height: 20vh;
    /* background-color: red; */
    text-align: center;
    margin-left: 160px;
    margin-top: 40px;
    margin-bottom: 100px;

}

.box-img {
    height: 250px;
    width: 400px;
    border-radius: 4px;
}
.box-img2{
    height: 350px;
    width: 550px;
    border-radius: 4px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.col{
    height: 430px;
    width: 400px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071a;
    box-shadow: 1px 5px 20px #6c071a;
}
.col2{
    height: 430px;
    width: 550px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071a;
    box-shadow: 1px 5px 20px #6c071a;
}
.heading{
    color: #6c071a;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #6C071A;
    border-top: 2px solid #6C071A;

}
.btn1{
    padding: 10px 15px;
    font-size: 24px;
    margin-top: 10px;
    background-color: #6C071A;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid #D4AF37 ;
    border-radius: 5px;
  
}
/* historic page end */





/* Seven Wonder page start */
.h-1{
    color: #6c071a;
    margin-bottom: 30px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;

}
#p-box2 {
    height: 100px;
    width: 100%;

}

.box2 {
    height: 90px;
    width: 60%;
    background-color: #8C1729
;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 308px;
    margin-top: 30px;
    padding-top: 20px;
    border: 5px solid #D4AF37;

}

.b-c8,.b-c9,.b-c10,.b-c11,.b-c12,.b-c13,.b-c14{
    /* background-color: #6c071a; */
    background-color: lemonchiffon;
    color: black;
    border-radius: 20px;
    text-align: center;
    border: 5px solid yellowgreen;
    box-shadow: 10px 8px 1px 0px yellowgreen;
    /* margin-top: 20px; */


}
.b-c1,.b-c2,.b-c3,.b-c4,.b-c5,.b-c6,.b-c7{
    /* background-color: #6c071a; */
    background-color: #f9dfab;
    color: #6C071A;
    border-radius: 20px;
    text-align: center;
    border: 5px solid rgb(150, 28, 28);
    box-shadow: 10px 8px 1px 0px #8C1729;


}
/* for first wonder */
.b-c1{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 18px;
}
.b-c2{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 16px;
}
.b-c3{
    height: 60px;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 17px;
}

.b-c4{
    height: 60px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 17px;
}

.b-c5{
    height: 70px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 17px;
}

.b-c6{
    height: 269.5px;
    width: 27%;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}
.b-c7{
    height: 100px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 17px;
}


/* for second wonder */
.b-c8{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 18px;
}
.b-c9{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 16px;
}
.b-c10{
    height: 60px;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 17px;
}

.b-c11{
    height: 60px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 17px;
}

.b-c12{
    height: 70px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 17px;
}

.b-c13{
    height: 269.5px;
    width: 27%;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.b-c14{
    height: 100px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 17px;
}






.d-flex{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.main-b-c1,.main-b-c2{
    width: 25%;
    height: 270px;
    /* background-color: red; */
}
.img-1{
     width: 100%;
    height: 90vh;
    margin-top: 10px;
    /* border-radius: 5px; */
    border-top: 5px solid #6C071A;
    border-bottom: 5px solid #6C071A;

}
.img-2{
     width: 100%;
    height: 70vh;
    margin-top: 10px;
    /* border-radius: 5px; */
    border-top: 5px solid ;
    border-bottom: 5px solid #6C071A;
    border-right: 5px solid #6C071A;
    border-top: 5px solid #6C071A;
}
.img-4{
     width: 100%;
    height: 70vh;
    margin-top: 10px;
    /* border-radius: 5px; */
    border-top: 5px solid ;
    border-bottom: 5px solid #6C071A;
    border-right: 5px solid #6C071A;
    border-top: 5px solid #6C071A;
}
.img-3{
     width: 100%;
    height: 90vh;
    margin-top: 10px;
    /* border-radius: 5px; */
    border-top: 5px solid rgb(12, 108, 12);
    border-bottom: 5px solid rgb(12, 108, 12);
}
.head1{
    color: #6c071a;
    margin-bottom: 0px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;
    margin-top: 70px;
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;
}
.h-box1{
    /* height: 100px;
    width: 100%; */
}
.h-box2{
    width: 40%;
    height: 70vh;
}
.p1{
    margin-top: 10px;
    margin-left: 20px;
    color: #6C071A;
    text-align: justify;
}
.p2{
    margin-top: 5px;
    margin-left: 20px;
    color: rgb(2, 126, 151);
    text-align: justify;
}
.ph1{
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #dab027;
}
.ph2{
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
    color: rgb(2, 84, 165);
}
.par{
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 20px;
}
.W-box1{
    width: 65%;
    height: 47vh;
    background-color: #6C071A;
    color: wheat;
    /* margin-left: 18%; */
}
.W-list{
    margin-left: 30px;
    margin-top: 0px;
}
/* Seven Wonder page end */
/* zone page start */
.head {
    text-align: center;
    margin-top: 25px;  /* FIXED: small margin to match other pages */
    font-size: 38px;
    color: #333;
}

/* Description */
.des {
    max-width: 850px;
    margin: 10px auto 30px;
    text-align: center;
    font-size: 17px;
    color: #555;
    line-height: 1.6;
}

/* Grid Layout */
.grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

/* Card Styling */
.card {
    background: white;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 10px  10px 10px 10px rgba(0, 0, 0, 0.12);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

/* Card Image */
.card img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
}

/* Card Heading */
.card h2 {
    margin: 12px 0 5px;
    color: #222;
    font-size: 21px;
}

/* Card Text */
.card p {
    color: #555;
    font-size: 15px;
    line-height: 1.5;
}

/* Buttons */
.btn {
    margin-top: 12px;
    padding: 12px 18px;
    border: none;
    background: #7a0019;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #a0112e;
}

/* zone page end */



