* {
    margin: 0px;
    padding: 0px;

}

#alert {
    background-color:;
    color:rgb(0, 0, 0); 
    padding: 8px 0; 
    font-size:20px; 
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #6C071A;
    
}

.list {
    display: flex;
    justify-content: right;
    list-style: none;
    /* color: rgb(0, 115, 255); */
}

.list-item {
    margin: 30px;
    /* font-family: cursive; */
    font-size: 18px;
}

.list-item1 {
    margin: 30px;
    padding-right: 270px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #D4AF37;
}
#nav-bar{
    /* background-color: maroon; */
    /* border-bottom: solid 1px rgb(74, 1, 74); */
    
}
body{
    background-color: #EFE6DD;
}


