/* historic page start */

* {
    margin: 0px;
    padding: 0px;
}
/* HEADER AREA */
#nav-bar {
    background: #222;
    width: 100%;
}

/* Marquee alert bar */
#alert {
    background: #ffcc00;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

/* Navigation bar design */
.navbar {
    padding: 10px 0;       /* SAME HEIGHT AS YOUR ORIGINAL */
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 0;
    padding: 30px;
}

.nav-list li a {
    text-decoration: none !important;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px;
}

.nav-list li a:hover {
    color: #ffcc00;
}

.nav-list li a.active {
    color: #ffcc00;
}

/* header css */


#img3 {
    width: 100%;
    height: 70vh;
}

#p-box {
    height: 100px;
    width: 100%;

}

.box {
    height: 90px;
    width: 30%;
    background-color: #6c071ab3;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 35%;
    margin-top: 30px;
    padding-top: 20px;
    border: 5px solid #D4AF37;

}
.h{
    color: #6c071a;
    margin-bottom: 30px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;

}
.h2{
    color: #6C071A;
    margin-top: 70px;
    border-top: 2px solid #D4AF37;
    border-bottom: 2px solid #D4AF37;
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.h-3{
    margin-top: 30px;
    text-align: center;
}

.para {
    width: 80%;
    height: 20vh;
    /* background-color: red; */
    text-align: center;
    margin-left: 160px;
    margin-top: 40px;
    margin-bottom: 100px;

}

.box-img {
    height: 250px;
    width: 400px;
    border-radius: 4px;
}
.box-img2{
    height: 350px;
    width: 550px;
    border-radius: 4px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.col{
    height: 430px;
    width: 400px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071a;
    box-shadow: 1px 5px 20px #6c071a;
}
.col2{
    height: 430px;
    width: 550px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071a;
    box-shadow: 1px 5px 20px #6c071a;
}
.heading{
    color: #6c071a;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #6C071A;
    border-top: 2px solid #6C071A;

}
.btn1{
    padding: 10px 15px;
    font-size: 24px;
    margin-top: 10px;
    background-color: #6C071A;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid #D4AF37 ;
    border-radius: 5px;
  
}
/* historic page end */





/* Seven Wonder page start */
.h-1{
    color: #6c071a;
    margin-bottom: 30px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;

}
#p-box2 {
    height: 100px;
    width: 100%;

}

.box2 {
    height: 90px;
    width: 60%;
    background-color: #6c071a;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 308px;
    margin-top: 30px;
    padding-top: 20px;
    border: 5px solid #D4AF37;

}
.img-1{
     width: 100%;
    height: 80vh;
    margin-top: 10px;
    /* border-radius: 5px; */
    border-top: 4px solid #6C071A;
    border-bottom: 4px solid #6C071A;

}
.head1{
    color: #6c071a;
    margin-bottom: 0px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;
    margin-top: 70px;
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;
}
.h-box1{
    /* height: 100px;
    width: 100%; */
}
/* Seven Wonder page end */
/* zone page start */
.head {
    text-align: center;
    margin-top: 25px;  /* FIXED: small margin to match other pages */
    font-size: 38px;
    color: #333;
}

/* Description */
.des {
    max-width: 850px;
    margin: 10px auto 30px;
    text-align: center;
    font-size: 17px;
    color: #555;
    line-height: 1.6;
}

/* Grid Layout */
.grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

/* Card Styling */
.card {
    background: white;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 10px  10px 10px 10px rgba(0, 0, 0, 0.12);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

/* Card Image */
.card img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
}

/* Card Heading */
.card h2 {
    margin: 12px 0 5px;
    color: #222;
    font-size: 21px;
}

/* Card Text */
.card p {
    color: #555;
    font-size: 15px;
    line-height: 1.5;
}

/* Buttons */
.btn {
    margin-top: 12px;
    padding: 12px 18px;
    border: none;
    background: #7a0019;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #a0112e;
}

/* zone page end */

