/* historic page start */

* {
    margin: 0px;
    padding: 0px;

}

#alert {
    
    color: rgb(0, 0, 0);
    padding: 8px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.header {
   
    background-color: #6C071A;

}

.list {
   
    display: flex;
    justify-content: right;
    list-style: none;
    /* color: rgb(0, 115, 255); */
}

.list-item {
    margin: 30px;
    /* font-family: cursive; */
    font-size: 18px;
}

.list-item1 {
    margin: 30px;
    padding-right: 270px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #D4AF37;
}

body {
    background-color: #EFE6DD;
}


/* header css */


#img3 {
    width: 100%;
    height: 70vh;
}

#p-box {
    height: 100px;
    width: 100%;

}

.box {
    height: 90px;
    width: 30%;
    background-color: #6c071ab3;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 35%;
    margin-top: 30px;
    padding-top: 20px;
    border: 5px solid #D4AF37;

}
.h{
    color: #6c071a;
    margin-bottom: 30px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;

}
.h2{
    color: #6C071A;
    margin-top: 70px;
    border-top: 2px solid #D4AF37;
    border-bottom: 2px solid #D4AF37;
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.h-3{
    margin-top: 30px;
    margin-left: 10px;
}

.para {
    width: 80%;
    height: 20vh;
    /* background-color: red; */
    text-align: center;
    margin-left: 160px;
    margin-top: 40px;
    margin-bottom: 100px;

}

.box-img {
    height: 250px;
    width: 400px;
    border-radius: 4px;
}
.box-img2{
    height: 350px;
    width: 550px;
    border-radius: 4px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.col{
    height: 430px;
    width: 400px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071a;
    box-shadow: 1px 5px 20px #6c071a;
}
.col2{
    height: 430px;
    width: 550px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071a;
    box-shadow: 1px 5px 20px #6c071a;
}
.heading{
    color: #6c071a;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #6C071A;
    border-top: 2px solid #6C071A;

}
.btn1{
    padding: 10px 15px;
    font-size: 24px;
    margin-top: 10px;
    background-color: #6C071A;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid #D4AF37 ;
    border-radius: 5px;
}
/* historic page end */





/* Seven Wonder page start */
.h-1{
    color: #6c071a;
    margin-bottom: 30px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;

}
#p-box2 {
    height: 100px;
    width: 100%;

}

.box2 {
    height: 90px;
    width: 60%;
    background-color: #6c071a;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 308px;
    margin-top: 30px;
    padding-top: 20px;
    border: 5px solid #D4AF37;

}
.img-1{
     width: 100%;
    height: 80vh;
    margin-top: 10px;
    /* border-radius: 5px; */
    border-top: 4px solid #6C071A;
    border-bottom: 4px solid #6C071A;

}
.head1{
    color: #6c071a;
    margin-bottom: 0px;
    border-bottom: 2px solid #D4AF37;
    border-top: 2px solid #D4AF37;
    margin-top: 70px;
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;
}
.h-box1{
    /* height: 100px;
    width: 100%; */
}
/* Seven Wonder page end */



/* zone page start */
.head {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: capitalize;
    margin-top: 30px;
    color: #6c071a;
    /* font-size: 30px; */
}

.des {
    text-align: center;
    font-size: 25px;
    margin: 20px;
    /* font-family: "Open Sans", sans-serif; */
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
     "width" 100;
}
.Angkor,.Himeji{
    height: 700px;
    width: 700px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071ab3;
    margin-bottom: 30px;
}
.b2{
   height: 500px;
    width: 700px; 
}
.row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.p1,.p2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.btn{
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color:#6C071A;
    color: white;
    cursor: pointer;
}
/* zone page end */

