/* header css */

* {
    margin: 0px;
    padding: 0px;

}

#alert {
    
    color: rgb(0, 0, 0);
    padding: 8px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.header {
   
    background-color: #6C071A;

}

.list {
   
    display: flex;
    justify-content: right;
    list-style: none;
    /* color: rgb(0, 115, 255); */
}

.list-item {
    margin: 30px;
    /* font-family: cursive; */
    font-size: 18px;
}

.list-item1 {
    margin: 30px;
    padding-right: 270px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #D4AF37;
}

body {
    background-color: #EFE6DD;
}


/* header css */


#img3 {
    width: 100%;
    height: 70vh;
}

#p-box {
    height: 100px;
    width: 100%;

}

.box {
    height: 90px;
    width: 30%;
    background-color: #6c071ab3;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin-left: 35%;
    margin-top: 30px;
    padding-top: 20px;

}

.para {
    width: 80%;
    height: 20vh;
    /* background-color: red; */
    text-align: center;
    margin-left: 160px;
    margin-top: 30px;

}

.box-img {
    height: 250px;
    width: 400px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col1,
.col2,
.col3 {
    height: 400px;
    width: 400px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071ab3;
}

.head {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 30px;
}

.des {
    text-align: center;
    font-size: 25px;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
     "width" 100;
}
.Angkor,.Himeji{
    height: 700px;
    width: 700px;
    background-color: #f8f6f4;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #6c071ab3;
    margin-bottom: 30px;
}
.b2{
   height: 500px;
    width: 700px; 
}
.row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.p1,.p2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.btn{
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color:#6C071A;
    color: white;
    cursor: pointer;
}